<html>
  <head>
  </head>
  <body>
    <p>
      Welcome
    </p>
    <p>
      Please Authorize through GitHub
      <a href="https://github.com/login/oauth/authorize?scope=read:user,read:org,public_repo&client_id=<%= @client_id %>">Click here</a> to begin!</a>
    </p>
  </body>
</html>
